
        </div>
      </div>
    </div>


      <link rel="stylesheet" href="/static/css/magnify.css">
      <link rel="stylesheet" href="/static/css/footer.css">
<!-- Optional mobile plugin (uncomment the line below to enable): -->
<!-- <script src="/js/jquery.magnify-mobile.js"></script> -->

        <script src="/static/js/vendor/materialize.min.js" defer></script>
        <script src="https://unpkg.com/@popperjs/core@2" defer></script>
        <script src="https://unpkg.com/tippy.js@6" defer></script>
        <!-- <script src="/static/js/vendor/slick.min.js" defer></script> -->
        <script src="/static/js/vendor/tiny-slider.js" defer></script>
        <script src="/static/js/vendor/inputmask.min.js" defer></script>
        <script src="/static/js/vendor/list.min.js" defer></script>
        <script src="/static/js/main.js" defer></script>
        <script src="/static/js/cart.js" defer></script>
        <script src="/static/js/filters.js" defer></script>
        <script src="/static/js/url_filters.js" defer></script>


    <script type="text/javascript" src="https://embed.swivl.chat"></script>
    <script>Swivl.embed('vm3PeBVqMH');</script>
    <script>
      var isStoreOpen = {{ store.store_open_str }};
    </script>
    {% include "shared/footer_menu.html" %}
</body>
</html>